.container2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
@media screen and (max-width:600px){
    .container2{
        display: flex;
        flex-direction:column;
    }
}
.box11{
    margin-right:200px;
    margin-left: 20px;
}
@media screen and (max-width:600px){
    .box11{
        margin:10px;
        line-height:30px;
        font-size:18px;
    }
}
.box22{
    margin-right:20px;
}
@media screen and (max-width:600px){
    .box22{
        margin:10px;
        font-size:20px;
    }
}
.fdc{
    margin-left:20%;
    margin-right:20%;
    font-family: 'Times New Roman';
}
@media screen and (max-width:600px){
    .fdc{
       margin:10px;
    }
}
.con{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Times New Roman';
}

