.fd1{
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Times New Roman';
    
}
@media screen and (max-width:600px){
    .fd1{
        margin:10px;       
    }
}
.fd2{
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Times New Roman';
}
@media screen and (max-width:600px){
    .fd2{
        margin:10px;
    }
}
.w{
    font-size: 21px;
    font-weight:bold;
}
@media screen and (max-width:600px){
    .w{
        font-size:17px;
    }
}
.wer{
    padding-left:80px;
    padding-right:80px;
    font-size: 20px;    
    line-height: 30px;
    text-align: justify;
}
@media screen and (max-width:600px){
    .wer{
        padding-left: 10px;
        padding-right:10px;
        text-align:justify;
        line-height:30px;
        font-size:18px;
    }
}
.r{
    font-size: 21px;
    font-weight: bold;
}
@media screen and (max-width:600px){
    .r{
        font-size:20px;
    }
}

.alllist{
    font-size: 20px;
    padding-left:10px;
    padding-right: 25px;
    line-height: 30px;
}
@media screen and (max-width:600px){
    .alllist{
        font-size:20px;
        padding-left: 10px;
        padding-right:10px;
        line-height:30px;
    }
}